<div class="container text-container my-5 py-5">
    <a href="https://www.concrete.hk/">
        <img src="../assets/img/footer.jpg" class="img-fluid d-block mx-auto" />
    </a>
</div>
<div class="orange-divider"></div>
<div class="footer-menu d-none d-xl-block">
    <div class="container">
        <ul class="navbar-nav navbar-expand-xl justify-content-between py-5">
            <li class="nav-item">
                <a class="nav-link text-center menu1" href="introduction.html">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center menu1" href="ambitions.html">Ambitions 2030</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center menu1" href="governance.html">Governance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center menu1" href="people.html">People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center menu1" href="resources.html">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center menu1" href="community.html">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center menu1" href="innovation.html">Innovation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center menu1" href="innovation.html">About the Report</a>
            </li>
        </ul>
    </div>
</div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="up"></i></button>