<div class="orange-divider"></div>
<div class="container-xl">
    <div class="row">
        <div class="col-3 col-xl-1 py-4">
            <a class="navbar-brand" href="https://www.concrete.hk/">
                <div class="logo-background"></div>
                <img src="../assets/img/logo_color.svg" alt="">
            </a>
        </div>
        <div class="col-9 col-xl-12 navbar-container pst">
            <nav class="navbar navbar-expand-xl justify-content-end px-0 pst">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="navbar-toggler-icon">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </button>
                <div class="col-12 collapse navbar-collapse px-0 pst" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto align-items-end justify-content-between">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-center menu1" href="introduction.html">Overview</a>
                            <a class="dropdown-toggle" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu justify-content-center dropdownmenu">
                                <li class="dropdown-item"><a class="nav-link menu2" href="introduction.html#ceo-msg">CEO Message</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="introduction.html#the-report">About Alliance</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="introduction.html#abstractreport">COVID-19</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="introduction.html#abstractreport">Sustainability Highlights</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="introduction.html#abstractreport">Key Achievements</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-center menu1" href="ambitions.html">Ambitions 2030</a>
                            <a class="dropdown-toggle" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu justify-content-center dropdownmenu">
                                <li class="dropdown-item"><a class="nav-link menu2" href="material-to-build-our-future.html">Material to Build Our Future</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="way-forward.html">Way Forward</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-center menu1" href="governance.html">Governance</a>
                            <a class="dropdown-toggle" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu justify-content-center dropdownmenu">
                                <li class="dropdown-item"><a class="nav-link menu2" href="business-integrity-and-ethics.html">Business Integrity and Ethics</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="new-risk-by-stringent-governance.html">New Risk by Stringent Governance</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-center menu1" href="people.html">People</a>
                            <a class="dropdown-toggle" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu justify-content-center dropdownmenu">
                                <li class="dropdown-item"><a class="nav-link menu2" href="protecting-our-people.html">Protecting Our People</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="sustaining-human-capital.html">Sustaining Human Capital</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-center menu1" href="resources.html">Resources</a>
                            <a class="dropdown-toggle" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu justify-content-center dropdownmenu">
                                <li class="dropdown-item"><a class="nav-link menu2" href="enabling-a-circular-economy.html">Enabling a Circular Economy</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="climate-protection.html">Climate Protection</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-center menu1" href="community.html">Community</a>
                            <a class="dropdown-toggle" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu justify-content-center dropdownmenu">
                                <li class="dropdown-item"><a class="nav-link menu2" href="environmentally-responsible.html">Environmentally Responsible</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="socially-responsible.html">Socially Responsible</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="employee-caring.html">Employee Caring</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-center menu1" href="innovation.html">Innovation</a>
                            <a class="dropdown-toggle" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu justify-content-center dropdownmenu">
                                <li class="dropdown-item"><a class="nav-link menu2" href="digital-transformation.html">Digital Transformation</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="product-innovation.html">Product Innovation</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="productivity-improvement.html">Productivity Improvement</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-center menu1" href="about-the-report.html">About the Report</a>
                            <a class="dropdown-toggle" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu justify-content-center dropdownmenu">
                                <li class="dropdown-item"><a class="nav-link menu2" href="stakeholder-engagement.html">Stakeholder Engagement</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="materiality-process.html">Materiality Process</a></li>
                                <li class="dropdown-item"><a class="nav-link menu2" href="data-and-assurance.html">Data & Assurance</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>