@import "../libs/bootstrap/scss/functions";
@import "../libs/bootstrap/scss/variables";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
    xxxl: 1600px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1080px,
    xxl: 1430px,
    xxxl: 1590px,
    // xl: 1140px,
);

@import "../libs/bootstrap/scss/bootstrap.scss";

@include media-breakpoint-up(xl) {
    .container-max-xl {
        max-width: map-get($container-max-widths, "xl");
    }
}
@include media-breakpoint-up(xxl) {
    .container-max-xxl {
        max-width: map-get($container-max-widths, "xxl");
    }
}

.text-container {
    @extend .container-max-xl;
}

.media-container {
    @extend .container-max-xxl;
}