body {
    font-family: "Blisspro", "DIN Condensed Bold";
}

@function rem($size) {
    @return $size / 16 * 1rem;
}

@font-face {
    font-family: "Blisspro";
    src: url("../fonts/Blisspro.otf");
}

@font-face {
    font-family: "DIN Condensed Bold";
    src: url("../fonts/DIN\ Condensed\ Bold.ttf");
}