@use "fonts" as *;

.orange-divider {
    height: 8px;
    background-color: #f49430;
}

.footer-menu {
    height: 300px;
    background-color: rgba(156, 160, 163, 1);
    background: linear-gradient(180deg, rgba(156, 160, 163, 1) 0%, rgba(189, 190, 192, 1) 100%);
    font-size: rem(19);
    letter-spacing: 0.1em;
    ul {
        list-style: none;
    }
    a {
        color: white;
        &:hover {
            color: rgba(white, 0.5);
        }
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    border: none;
    background-color: rgba(156, 160, 163, 0.5);
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 4px;

    &:hover {
        background-color: #555;
    }

    i {
        border: solid #f4f4f4;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 5px;
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
}
