@use "fonts" as *;
@use "bootstrap-custom.scss" as *;
@use "footer" as *;

html, body {
    overflow-x: hidden;
}

header {
    position: relative;
    background-color: white;
    font-size: rem(22);
    z-index: $zindex-dropdown;
    @include media-breakpoint-up(xxxl) {
        letter-spacing: 3px;
    }
    @include media-breakpoint-only(xl) {
        font-size: rem(20);
    }
    color: white;

    .nav-item > .nav-link {
        color: inherit;
        &:hover {
            color: rgba(white, 0.5);
        }
    }

    .navbar-brand {
        img {
            height: 50px;
            @include media-breakpoint-up(sm) {
                height: 100px;
            }
        }
    }

    .navbar-nav {
        width: 100%;
    }

    @include media-breakpoint-up(xl) {
        .navbar-container {
            &:before {
                content: "";
                position: absolute;
                width: 200vw;
                left: -50%;
                height: 100%;
                background-color: #072627;
            }
        }
    }

    .navbar {
        height: 100%;
    }

    @include media-breakpoint-down(lg) {
        #navbarSupportedContent {
            position: absolute;
            left: 0;
            top: 158px;
            background-color: #072627;
        }

        .nav-item {
            margin-right: 0.5rem;
        }
    }

    .dropdown-item {
        color: white;
        .nav-link {
            color: inherit;
            &:hover {
                color: #072627;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .dropdown:hover {
            &:after {
                background-color: #072627;
                content: "";
                position: absolute;
                width: 100%;
                height: 0.5rem;
            }
            > ul.dropdown-menu {
                display: flex;
            }
        }
        .dropdown-menu {
            // width: 100vw;
            flex-direction: column;
            background-color: rgba(#faa749, 0.8);
            padding: 0;
            // padding-right: 1.5rem;
            margin: 0;
            border: 0;
            border-radius: 0;
            top: auto;
            margin-top: 0.5rem;
            font-size: inherit;
            color: inherit;
            .nav-item {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
        .dropdown-toggle {
            display: none;
        }
    }

    @include media-breakpoint-down(lg) {
        .dropdown {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            .dropdown-toggle {
                margin-left: 0.5em;
                &:after {
                    color: white;
                    border-width: 0.5em;
                    vertical-align: 0.15em;
                }
            }
            .dropdown-menu {
                flex-basis: 100%;
                background-color: transparent;
            }
            .nav-link {
                text-align: right;
            }
            .dropdown-item {
                background-color: transparent;
                &:hover {
                    color: rgba(white, 0.5);
                }
            }
        }
    }

    .navbar-toggler-icon {
        width: 3rem;
        height: 3rem;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 40px;
        height: 3px;
        background-color: #000;
        margin: 9px 0;
        transition: 0.4s;
    }

    .pst {
        @include media-breakpoint-down(lg) {
            position: static;
        }
    }
}
