@use "header";
@use "bootstrap-custom.scss" as *;
@use "fonts" as *;

@mixin link-to-page($color: #ff0000) {
    position: relative;
    padding: 0 15px;
    background-color: #e6e7e9;
    height: 190px;
    .decoration {
        @include media-breakpoint-down(xs) {
            transform: scaleX(0.5);
            transform-origin: left;
        }
        position: absolute;
        width: 23%;
        height: 100%;
        left: 0;
        path {
            fill: $color;
            stroke-width: 3;
            stroke: $color;
        }
    }
    .title,
    .content,
    .read-more {
        display: inline-block;
        position: relative;
        left: 25%;
        width: 75%;
        @include media-breakpoint-down(xs) {
            left: 18%;
            width: 82%;
            line-height: 1.3;
        }
    }
    .title {
        margin-top: 10px;
        font-family: "DIN Condensed Bold";
        font-size: rem(33);
        color: $color;
        letter-spacing: initial;
        padding: initial;
        border-bottom: initial;
        @include media-breakpoint-down(xs) {
            font-size: rem(24);
        }
    }
    .content,
    .read-more {
        font-size: rem(19);
        line-height: 1.2;
        @include media-breakpoint-down(xs) {
            font-size: rem(16);
        }
    }
    .content {
        color: #6d6e71;
    }
    .read-more {
        color: $color;
        text-decoration: underline;
    }
}

section {
    font-size: rem(22);
    color: #6d6e71;

    .section-heading {
        font-size: rem(36);
        letter-spacing: 0.2em;
        padding: 2em 0 1em;
        border-bottom: 3px solid #faa749;
        color: #242021;
    }

    .section-sub-heading {
        // font-size: rem(26);
        font-size: rem(38);
        // letter-spacing: 0.2em;
        letter-spacing: 0.05em;
        font-family: "DIN Condensed Bold";
        font-weight: bold;
        margin: 2em 0 1em;
        color: #faa74a;
    }

    p {
        margin: 1.5em 0;
    }

    .link-to-page {
        @extend .mb-3;
        &.business-integrity-and-ethics {
            @include link-to-page(#0a3f61);
        }
        &.turn-risk-into-opportunity {
            @include link-to-page(#885f33);
        }
        &.material-to-build-our-future {
            @include link-to-page(#093f61);
        }
        &.way-forward {
            @include link-to-page(#acaf3e);
        }
        &.protecting-our-people {
            @include link-to-page(#093f61);
        }
        &.sustaining-human-capital {
            @include link-to-page(#885f33);
        }
        &.enabling-a-circular-economy {
            @include link-to-page(#093f61);
            @include media-breakpoint-only(lg) {
                .title {
                    margin: 0;
                }
                .read-more {
                    position: relative;
                    top: -5px;
                }
            }
        }
        &.climate-protection {
            @include link-to-page(#b0c75b);
        }
        &.environmentally-responsible {
            @include link-to-page(#093f61);
        }
        &.socially-responsible {
            @include link-to-page(#faa749);
        }
        &.employee-caring {
            @include link-to-page(#6c9a75);
        }
        &.stakeholder-engagement {
            @include link-to-page(#093f61);
        }
        &.materiality-process {
            @include link-to-page(#885f33);
        }
        &.data-and-assurance {
            @include link-to-page(#6c9a75);
        }
    }

    .inline-image {
        padding: 1.5em;
        &.top-left {
            float: left;
            margin-left: -1.5em;
        }
        &.top-right {
            float: right;
            margin-right: -1.5em;
        }
    }
}

.ambitions {
    .ambition-triangle-container {
        margin-right: 0;
        margin-left: 0;
    }
    .triangle-container {
        z-index: 12;
        text-align: right;
        margin-right: -873px;
    }
    .ie-triangle-container {
        display: none;
    }
    .ambition-triangle {
        width: 1200px;
    }
    .trianle-title-container {
        color: white;
        z-index: 13;
        max-width: 200px;
        bottom: 112px;
        text-align: center;
        margin-right: -100px;
    }
    .triangle-info-container {
        color: white;
        z-index: 11;
        bottom: 112px;
        text-align: left;
        max-width: 71vw;
        padding-right: 0;
        overflow: hidden;
    }
    .zh-Hant .triangle-info-container div {
        line-height: 1.5;
    }
    .trianle-title-container div {
        height: 100px;
        margin-bottom: 15px;
        line-height: 7;
    }
    .zh-Hant .trianle-title-container div {
        font-weight: 500;
    }
    .triangle-info-container img {
        position: absolute;
    }
    .triangle-info-container .row {
        height: 100px;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .ambition_bar_1 {
        background: url(../img/P3_ambition_bar_1.svg) no-repeat;
        background-size: cover;
    }
    .ambition_bar_2 {
        background: url(../img/P3_ambition_bar_2.svg) no-repeat;
        background-size: cover;
    }
    .ambition_bar_3 {
        background: url(../img/P3_ambition_bar_3.svg) no-repeat;
        background-size: cover;
    }
    .ambition_bar_4 {
        background: url(../img/P3_ambition_bar_4.svg) no-repeat;
        background-size: cover;
    }
    .ambition_bar_5 {
        background: url(../img/P3_ambition_bar_5.svg) no-repeat;
        background-size: cover;
    }
    .triangle-info-container .row:nth-child(2) {
        padding-left: 66px;
    }
    .triangle-info-container .row:nth-child(3) {
        padding-left: 132px;
    }
    .triangle-info-container .row:nth-child(4) {
        padding-left: 198px;
    }
    .triangle-info-container .row:nth-child(5) {
        padding-left: 264px;
    }
    .triangle-info-container ul {
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .triangle-info-container ul:nth-child(1) {
        padding-inline-start: 45px;
        padding-left: 45px;
    }
    .triangle-info-container ul:nth-child(2) {
        padding-inline-start: 55px;
        padding-left: 55px;
    }
    .triangle-info-container ul:nth-child(3) {
        padding-inline-start: 67px;
        padding-left: 67px;
    }
    .triangle-info-container ul:nth-child(4) {
        padding-inline-start: 79px;
        padding-left: 79px;
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        .ambition-triangle-container {
            display: none;
        }
        .ie-triangle-container {
            display: block;
            text-align: center;
        }
        .ie-triangle-container img {
            width: 100%;
            max-width: 1400px;
            margin-top: -100px;
            margin-bottom: -100px;
        }
    }

    @include media-breakpoint-down(xl) {
        .ambition-triangle-container {
            display: none;
        }
    }
}

.material-to-build-our-future {
    .purpose {
        position: relative;
        .sub-heading {
            color: #8c734b;
        }
        .shape,
        .leader,
        .deliver,
        .progressive {
            .border {
                border: 4px solid #939498 !important;
                border-radius: 20px;
                &:before {
                    content: "";
                    display: block;
                    padding-top: calc(100% * 5 / 9);
                    pointer-events: none;
                    @include media-breakpoint-down(xs) {
                        padding-top: calc(100% * 12 / 9);
                    }
                }
            }
            .text {
                font-family: "DIN Condensed Bold";
                font-size: rem(32);
                position: absolute;
                width: 40%;
                left: 30%;
                top: 0;
                bottom: 0;
                margin: auto;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                line-height: 1.1;
                @include media-breakpoint-down(lg) {
                    width: 56%;
                    left: 22%;
                }
                @include media-breakpoint-down(md) {
                    font-size: rem(24);
                }
                @include media-breakpoint-down(xs) {
                    font-size: rem(20);
                }
            }
        }
        @include media-breakpoint-down(sm) {
            .shape,
            .deliver {
                .text {
                    left: 10%;
                }
            }
            .leader,
            .progressive {
                .text {
                    left: 34%;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            .shape,
            .leader {
                .text {
                    top: 1rem;
                    justify-content: flex-start;
                }
            }
            .deliver,
            .progressive {
                .text {
                    bottom: 1rem;
                    justify-content: flex-end;
                }
            }
        }
        @include media-breakpoint-down(xs) {
            .shape .text {
                top: 0;
                bottom: 35px;
                left: 5px;
                right: 35px;
            }
            .leader .text {
                top: 0;
                bottom: 35px;
                left: 35px;
                right: 5px;
            }
            .deliver .text {
                top: 35px;
                bottom: 0;
                left: 5px;
                right: 35px;
            }
            .progressive .text {
                top: 35px;
                bottom: 0;
                left: 35px;
                right: 5px;
            }
            .shape,
            .leader,
            .deliver,
            .progressive {
                .text {
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .circle {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            .image {
                width: 35%;
                height: auto;
                pointer-events: auto;
            }
            @include media-breakpoint-down(lg) {
                transform: scale(0.8);
            }
            @include media-breakpoint-down(md) {
                transform: scale(0.6);
            }
            @include media-breakpoint-down(sm) {
                transform: scale(0.5);
            }
        }
    }
}

.way-forward {
    .sub-heading {
        font-size: rem(38);
        font-weight: 500;
        &.people {
            color: #abaf3e;
        }
        &.innovation {
            color: #5ca8bf;
        }
        &.resources {
            color: #faa749;
        }
        &.community {
            color: #093e60;
        }
    }
    .text {
        font-size: rem(16);
        .colored {
            color: #faa74a;
        }
    }
}

.protecting-our-people {
    .figure {
        width: 100%;
        height: 100%;
        border-radius: 35px;
        font-family: "DIN Condensed Bold";
        border: 3px solid white;
        .title,
        .number,
        .description {
            line-height: 0.9;
            text-align: center;
        }
        .title,
        .description {
            font-size: rem(36);
            color: #faa74a;
            &.small {
                font-size: inherit;
            }
        }
        .number {
            font-size: rem(90);
            color: #093f61;
            span {
                font-size: rem(186);
                vertical-align: middle;
            }
            @include media-breakpoint-down(lg) {
                font-size: rem(60);
                span {
                    font-size: rem(124);
                }
            }
        }
    }

    .line-background {
        background: linear-gradient(#faa74b, #faa74b) no-repeat center/4px 100%;
    }
    .block-container {
        position: relative;
        padding: 0.1px;
    }
    .type-1 {
        .content,
        .image {
            border-radius: 35px;
        }
        .content {
            background-color: #e6e7e9;
            margin-bottom: 3em;
            padding: 3rem 1.5rem;
            @include media-breakpoint-up(lg) {
                width: calc(100% * 2 / 3);
                margin-top: 4em;
                padding: 3em 20% 2em 3em;
            }
        }
        .image {
            top: 0;
            right: 0;
            margin-left: auto;
            margin-top: 3em;
            overflow: hidden;
            @include media-breakpoint-up(lg) {
                width: calc(100% * 11 / 24);
                position: absolute;
            }
        }
    }
    .inner-header {
        color: #231f20;
        font-size: rem(23);
        font-weight: 500;
    }
    .text {
        background-color: white;
        padding: 1em 0;
        margin: 1em 0;
    }
    .type-2 {
        .content {
            border-radius: 35px;
            padding: 3rem 1.5rem;
            background-color: #e6e7e9;
            overflow: hidden;
            @include media-breakpoint-up(lg) {
                padding: 3em;
            }
        }
        .image {
            @include media-breakpoint-up(lg) {
                float: left;
            }
        }
    }
}

.sustaining-human-capital {
    .figure {
        width: 100%;
        height: 100%;
        border-radius: 35px;
        font-family: "DIN Condensed Bold";
        border: 3px solid white;
        .title,
        .number,
        .description {
            line-height: 0.9;
            text-align: center;
        }
        .title,
        .description {
            font-size: rem(36);
            color: #093f61;
            &.small {
                font-size: inherit;
            }
        }
        .number {
            font-size: rem(90);
            color: #885f33;
            span {
                font-size: rem(186);
                vertical-align: middle;
            }
        }
    }
    .inner-header {
        color: #231f20;
        font-size: rem(23);
    }
    .sharing-1,
    .sharing-2 {
        border-radius: 35px;
        height: 100%;
        .name,
        .position {
            line-height: 1.2;
        }
        .name {
            font-size: rem(39);
        }
        .position {
            font-size: rem(26);
        }
    }
    .sharing-1 {
        border: 4px solid #faa74b;
        .name,
        .position {
            color: #faa74a;
        }
    }
    .sharing-2 {
        background-color: #faa74b;
        .name,
        .position,
        .text {
            color: white;
        }
    }

    .abs-sharing {
        position: absolute;
        right: 0;
        bottom: 0;
        height: auto;
    }

    .rel-right {
        position: relative;
        right: -3rem;
    }
}

.enabling-a-circular-economy {
    .sub-heading {
        font-family: "DIN Condensed Bold";
        font-size: rem(38);
        letter-spacing: 0.05em;
    }
    .efficient,
    .waste,
    .concrete,
    .products,
    .innovative {
        @extend .my-5;
    }
    .efficient {
        $color: #088ccc;
        .sub-heading {
            color: $color;
        }
    }
    .waste {
        $color: #00b8ad;
        .sub-heading {
            color: $color;
        }
    }
    .concrete {
        $color: #b0c85c;
        .sub-heading {
            color: $color;
        }
    }
    .products {
        $color: #ffc70a;
        .sub-heading {
            color: $color;
        }
    }
    .innovative {
        $color: #f78f1f;
        .sub-heading {
            color: $color;
        }
    }
}

.climate-protection {
    .advancing {
        background-image: url(../img/B6.2-0-0.jpg);
        @include media-breakpoint-up(xl) {
            height: 940px;
            background-image: url(../img/B6.2-0.jpg);
        }
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .content {
            border-radius: 35px;
            background-color: rgba(white, 0.56);
            height: 100%;
            .sub-heading {
                font-size: rem(36);
                font-family: "DIN Condensed Bold";
                color: #f9a64a;
                letter-spacing: 0.05em;
            }
        }
        @include media-breakpoint-up(xl) {
            > .container {
                height: 100%;
                position: relative;
                > .row {
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
    .achievement-list {
        position: relative;
        background: linear-gradient(#b7b7b7, #b7b7b7) no-repeat center/12px 100%;
        .achievement {
            position: relative;
            padding-top: 52px;
            width: calc(50% + 53px);
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 106px auto;
            .sub-heading,
            .content,
            .extra-image {
                width: calc(100% - 106px - 1.5rem);
            }
            .sub-heading,
            .content {
                padding-left: 1.5rem;
            }
            .sub-heading {
                @extend .py-4;
                border-width: 4px 0 0 0;
                border-style: solid;
                font-size: rem(36);
                font-family: "DIN Condensed Bold";
                letter-spacing: 0.05em;
            }
            .mid-point {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                height: 28px;
                margin: auto;
            }
            .extra-image {
                @include media-breakpoint-up(xl) {
                    position: absolute;
                    bottom: 100%;
                }
                img {
                    display: block;
                    margin: auto;
                }
            }
            &.roadmap {
                background-image: url(../img/B6.2-1-0.jpg);
                $color: #2cc6d0;
                .sub-heading {
                    color: $color;
                    border-color: $color;
                }
            }
            &.label {
                background-image: url(../img/B6.2-1-1.jpg);
                $color: #087cc5;
                .sub-heading {
                    color: $color;
                    border-color: $color;
                }
            }
            &.solar {
                background-image: url(../img/B6.2-1-2.jpg);
                $color: #09428f;
                .sub-heading {
                    color: $color;
                    border-color: $color;
                }
            }
            &.impact {
                background-image: url(../img/B6.2-1-3.jpg);
                $color: #bfd974;
                .sub-heading {
                    color: $color;
                    border-color: $color;
                }
            }
            @include media-breakpoint-up(xl) {
                &:nth-child(2n) {
                    background-position: top left;
                    margin-left: auto;
                    .sub-heading,
                    .content,
                    .extra-image {
                        right: 0;
                        margin-left: auto;
                    }
                    .sub-heading,
                    .content {
                        padding-left: 1.5rem;
                    }
                    .mid-point {
                        right: initial;
                        left: 0;
                    }
                }
                &:nth-child(2n + 1) {
                    background-position: top right;
                    margin-right: auto;
                    .sub-heading,
                    .content,
                    .extra-image {
                        left: 0;
                        margin-right: auto;
                    }
                    .sub-heading,
                    .content {
                        padding-right: 1.5rem;
                    }
                    .mid-point {
                        left: initial;
                        right: 0;
                    }
                }
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            margin: 0 auto 3rem;
            bottom: 0;
            width: 106px;
            height: 200px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            @include media-breakpoint-up(xl) {
                right: 0;
                margin: 0 auto;
            }
        }
        @include media-breakpoint-down(lg) {
            background: linear-gradient(#b7b7b7, #b7b7b7) no-repeat 47px/12px 100%;
            background-origin: content-box;
            .achievement {
                width: 100%;
                .sub-heading,
                .content,
                .extra-image {
                    margin-left: auto;
                }
                .extra-image {
                    padding: 3rem 0;
                }
            }
        }
    }
}

.environmentally-responsible {
    @extend .protecting-our-people;
}

.socially-responsible {
    @extend .protecting-our-people;

    .type-1 .image.lower {
        @include media-breakpoint-up(lg) {
            margin-top: 6em;
        }
    }

    .support-container {
        @include media-breakpoint-between(lg, xxl) {
            overflow-x: auto;
            overflow-y: hidden;
        }
    }
    .support {
        padding-bottom: 500px;
        @include media-breakpoint-between(lg, xl) {
            width: 1430px;
        }
        .color {
            height: 12px;
            @extend .my-3;
        }
        .col {
            display: flex;
            flex-direction: column;
            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .text {
            padding-top: 1.5em;
            position: relative;
            @extend .px-4;
            box-sizing: content-box;
            border-left: 3px dotted;
            .inner-header {
                white-space: nowrap;
            }
            &:before {
                content: "";
                display: block;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: -6.5px - 1.5px;
            }
            @include media-breakpoint-up(lg) {
                width: 130%;
            }
        }
        .services,
        .game {
            @include media-breakpoint-up(lg) {
                .content {
                    position: relative;
                    top: 100%;
                    display: flex;
                    flex-direction: column-reverse;
                }
                .text {
                    padding-top: 1em;
                    padding-bottom: 1.5em;
                    &:before {
                        top: initial;
                        bottom: 0;
                    }
                }
            }
        }
        .donation {
            $color: #005870;
            .color {
                background-color: $color;
            }
            .text {
                border-color: $color;
                &:before {
                    background-color: $color;
                }
            }
        }
        .services {
            $color: #6c9a75;
            .color {
                background-color: $color;
            }
            .text {
                border-color: $color;
                &:before {
                    background-color: $color;
                }
            }
        }
        .bazaar {
            $color: #c1da74;
            .color {
                background-color: $color;
            }
            .text {
                border-color: $color;
                &:before {
                    background-color: $color;
                }
            }
        }
        .game {
            $color: #006d94;
            .color {
                background-color: $color;
            }
            .text {
                border-color: $color;
                &:before {
                    background-color: $color;
                }
            }
        }
        .party {
            $color: #bae2da;
            .color {
                background-color: $color;
            }
            .text {
                border-color: $color;
                &:before {
                    background-color: $color;
                }
            }
        }
    }
}

.digital-transformation {
    .sub-heading {
        font-family: "DIN Condensed Bold";
        font-size: rem(36);
        color: #093f61;
    }
}

.employee-caring {
    @extend .protecting-our-people;
}

.about-the-report {
    .purpose {
        @extend .text-center;
        @extend .p-3;
        border-radius: 35px;
        background-color: #6d6e72;
        .image {
            @extend .p-3;
        }
        .sub-heading {
            @extend .mx-auto;
            font-family: "DIN Condensed Bold";
            font-size: rem(36);
            color: #faa74a;
            width: 80%;
            line-height: 1.2;
        }
    }
    .feedback {
        background-color: #093f61;
        color: white;
        .contact {
            @extend .text-center;
            a {
                color: inherit;
            }
        }
    }
}

.data-and-assurance {
    .link {
        @extend .py-3, .p-sm-5;
        .text {
            @extend .text-center, .py-3, .px-lg-5, .px-xl-5, .mx-xl-5;
            font-family: "DIN Condensed Bold";
            font-size: rem(26);
            color: #093f61;
            line-height: 1;
        }
    }
}

[data-aos="fade-rotate-half"] {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}
